*, html {
    margin:0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(255, 245, 245, 1);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

main {
    margin-bottom: auto;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*LANDING PAGE*/

.landingpage {
    overflow: hidden;
    background-image: url(media/g2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    object-position: 50% 50%;
    height: 100vh;
    width: 100vw;
    z-index: -20;
}

.landingpage h1 {
    color: rgba(255, 245, 245, 1);
}

.landingpage a {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    position: absolute;
    z-index: 20;
}

h1 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    color: rgb(170, 75, 56);
    margin-bottom: 5px;
}
h2 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

h3 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin-top: 40px;
    line-height: normal;
}


/*TRAVEL*/

.poster {
    width: 100%;
    aspect-ratio: 2/1;
    line-height: 0;
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.poster h1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    font-family: 'Kulim Park';
    font-weight: 600;
    font-size: 44px;
    color: rgba(255, 245, 245, 1);
}

img {
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit:cover;
    display: block;
}

.uit {
    display: none;
    flex-direction: column;
}

.instapics {
    display: flex;
    flex-wrap: wrap;
}

.instapics img {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgba(255, 245, 245, 1);
}



/*Verhaal */
h4 {
    font-family: 'Kulim Park', sans-serif;
    font-size: 22px;
    font-weight: 900;
    line-height: normal;
}

p, ul {
    letter-spacing: px;
    margin-bottom: 20px;
    font-size: 16px;
}

li {
    list-style-position: inside;
 }

 .foto {
    width: 100%;
    aspect-ratio: 3/2;
    margin-bottom: 30px;
    object-fit: cover;
}

 /*Contact*/
 form {
    text-align: center;
 }

input[type=text], textarea, select {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px gray solid;
    resize: vertical;
    font-family: roboto;
    font-size: 16px;
    padding: 10px 20px;
    box-sizing: border-box;

}

select{
    text-align: center;
    padding: 0;
}

textarea {
    height: 300px;
    color: rgb(0, 0, 0);
}

input[type=submit] {
    background-color: rgb(170, 75, 56);
    border: 0;
    padding: 14px 0px;
    border-radius: 25px;
    color: rgba(255, 245, 245, 1);
    text-decoration: none;
    font-family: 'kulim park';
    font-weight: 400;
    font-size: 18px;
    cursor: help;
    width: 45%;
}


